<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>广东省气象台海洋气象预报 GDMO Forcast </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <style>
      body{font-family:"Arial","Microsoft YaHei","黑体","STXihei","华文细黑";}
      h1{color: red;text-align: center;letter-spacing:5px;font-size: 38px;}
      hr{border-top:4px solid red;}
      table,table tr th, table tr td { border:1px solid black; }
      #wrap{display: flex;flex-direction: column;align-items: center;justify-content: center;}
      #wrap table{min-width: 800px;}
      #wrap{width:850px;text-align: center;margin:0 auto;}
      table{margin-top:20px;}table caption {color: blue;font-size: 25px;}
      .fc-item th{color:blue;border-color:black;font-weight:normal; }
      .push-time{color: blue;font-size: 25px;}
      .hide-in-bg{color: rgb(244, 236, 216)}
      .main-img{width:100%}
    </style>
  </head>
  <body>
    <div id="wrap">
    <img class="main-img" src="<%=imgSrc%>">
  </div>
</body>
</html>
